<!DOCTYPE html>
<!-- saved from url=(0022)https://updown.io/ngg8 -->
<html lang="en" class="chrome ">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style data-merge-styles="true"></style>
    <title>
        <%= status.icon %>
    </title>
    <meta content="Status on last indexing (03 Apr 14:03 UTC) → 100% uptime (1 month) · 147 ms average response time · 1.0 Apdex (0.5s)" name="description">
    <link rel="shortcut icon" type="image/png" href="https://updown.io/favicon.png">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="#5c4" name="theme-color">
    <link href="https://updown.io/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="stylesheet" media="all" href="./css/index.css">
</head>

<body class="no-footer">
    <header>
        <div class="center"></div>
    </header>
    <section id="current-status">
        <div class="last-check">
            <div class="status <%= status.status %>">
                <%= status.code %>
            </div>
        </div>
        <div class="url"><span class="scheme https ssl-valid" title="&lt;table&gt;&lt;tr class=&quot;ssl-valid&quot;&gt;&lt;td class=&quot;icon&quot;&gt;&lt;i class=&quot;icon icon-badge-check&quot;&gt;&lt;/i&gt; &lt;/td&gt;&lt;td&gt;&lt;strong&gt;Valid SSL certificate&lt;/strong&gt;&lt;br /&gt;Tested on <%= formatedcheck %>&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;th&gt;subject:&lt;/th&gt;&lt;td&gt;<%= certificate.subject %>&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;th&gt;validity:&lt;/th&gt;&lt;td&gt;<%= certificate.valid.from %> — <%= certificate.valid.until %>&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;th&gt;algorithm:&lt;/th&gt;&lt;td&gt;SHA-256 with RSA encryption&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;th&gt;issuer:&lt;/th&gt;&lt;td&gt;<%= certificate.issuer.id %> (<%= certificate.issuer.provider %>)&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;"
                rel="tooltip">https</span><span class="scheme">://</span><span class="host">itoncek.cf</span> <a href="https://itoncek.cf/"><svg height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-external-link">
          <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
          <polyline points="15 3 21 3 21 9"></polyline>
          <line x1="10" y1="14" x2="21" y2="3"></line>
        </svg></a></div>
        <div class="legend">Last check:
            <%= formatedcheck %>
        </div>
        <div id="uptime">
            <div class="number gold">100%</div>
            <div class="legend">1 month rolling uptime (since Mar 03)</div>
        </div>
    </section>
    <script src="./js/index.js"></script>
    <div class="tooltip top" style="left: 560px; top: 1048px; display: none;">
        <div class="arrow" style="left: 83.5px;"></div>
        <div class="tooltip-inner"><small>Dec 12:</small> No downtime</div>
    </div>
</body>

</html>